<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../css/ModernClean.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
	<h1 class="title">What would
	<div id="content-1">Kanye</div>
	<div id="content-2">Shakespeare</div>
	<div id="content-3">Nietzsche</div>
	<div id="content-4">Cardi B</div>
	Say?</h1>
	
	<form id="ask" action="./result_page" method="POST" class="big">
		Ask
		<select name="personality" id="personality" required>
		  <option value="kanye">Kanye West</option>
		  <option value="shakespeare">William Shakespeare</option>
		  <option value="nietzsche">Friedrich Nietzsche</option>
		  <option value="tolkein">J.R.R. Tolkein</option>
		</select>
		<br />
		about <input type="textbox" name="prompt" id="prompt" required />.
		<br />
		<input type="submit" value="Go" class="button" />
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="../js/cycle.js"></script>
</body>

</html>